<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col w-30 ">
    <div class="card g-1">
      <img src="https://logospng.org/wp-content/uploads/javascript-768x432.png" class="card-img-top"
        style="width: 100%; min-height: 50%; object-fit: cover" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col w-30 ">

    <div class="card g-1">
      <h2 class="card-title">Card title</h2>
      <img src="https://logospng.org/wp-content/uploads/javascript-768x432.png" class="card-img-top"
        style="width: 100%; min-height: 50%; object-fit: cover" alt="...">
      <div class="card-body">

        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col w-30 ">
    <div class="card g-1">
      <img src="https://logospng.org/wp-content/uploads/javascript-768x432.png" class="card-img-top"
        style="width: 100%; min-height: 50%; object-fit: cover" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>