<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="224x224" href="assets/apple-icon-224x224.png">
<link rel="apple-touch-icon" sizes="220x220" href="assets/apple-icon-220x220.png">
<link rel="apple-touch-icon" sizes="244x244" href="assets/apple-icon-244x244.png">
<link rel="apple-touch-icon" sizes="252x252" href="assets/apple-icon-252x252.png">
<link rel="apple-touch-icon" sizes="280x280" href="assets/apple-icon-280x280.png">
<link rel="icon" type="image/png" sizes="292x292"  href="assets/android-icon-292x292.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="26x26" href="assets/favicon-26x26.png">
<link rel="manifest" href="assets/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/ms-icon-244x244.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="assets/stylesheet/style.css">


<title>Front Ent Test</title>
</head>
<body>
<header class="headerDisplay">


<ul class="box box1">
<li class="icon-list"><i class="fa-brands fa-figma"></i></li>
<li class="icon-list active-left"><img class="arrow-icon" src="assets/images/svg/arrow-icon.svg" alt="active arrow-icon"/></li>
<li class="icon-list"><i class="fa-solid fa-hand"></i></li>
<li class="icon-list"><i class="fa-solid fa-comment"></i></li>
</ul>
<ul class="box-center">
<h2>Front End Test</h2>
<button class="bFigma">Ask to edit</button>
</ul>
<ul class="box box2">
<li class="left-icons"><i class="fa-solid fa-headphones"></i></li>
<li class="left-icons">B</li>
<li class="left-icons">A</li>
<li class="left-icons">SHARE</li>
<li class="left-icons"><i class="fa-solid fa-play"></i></li>
<li class="left-icons">60%</li>
</ul>
</header>

<section class="pageDisplay">

<aside class="aside">
    <table>
    
    <thead>
        <th rowspan="4">Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></th>
       
    </thead>
    <tbody>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
   
    </tbody>
</table>

</aside>



<!--<aside class="aside aside1">
<ul>
<li>Page 2
<ul>
<li># Desktop-2
<li class="aside2Links"><i class="fa-solid fa-vector-square"></i><span class="d-none"><i class="fa-solid fa-caret-right"></i></span><i class="fa-solid fa-caret-right"></i></span> Group 4 </li>
<li class="aside2Links"><i class="fa-solid fa-vector-square"><span class="d-none"><i class="fa-solid fa-caret-right"></i> Group 2 </li>
<li class="aside2Links"> <i class="fa-solid fa-text"> </i> Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </li>
<li class="aside2Links"> <i class="fa-solid fa-text"> </i> Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </li>
<li class="aside2Links"> <i class="fa-solid fa-text"> </i> Post</li>
<li class="aside2Links"></li> <i class="fa-solid fa-horizontal-rule"></i>   Rectangle 4</li>
<li class="aside2Links"> <i class="fa-solid fa-image"></i></li>
    <li>
<dl>
<dt> Ellipse </dt>
<dd>
<p class="d-none"> Lucas Credie dolor sit amet, consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et tristique proin. Mi enim ut eu cras ultrices eget et tristique proin.Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et  consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </p>
</dd>
</dl>
</li>

<li class="aside2Links"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span> <i class="fa-solid fa-square-dashed">Header</i></li>
<li class="aside2Links"><i class="fa-solid fa-rectangle-vertical"></i> Rectangle
</li>
</ul>
</aside>-->



<main class="main-display">

<div class="card">
<div class="card-header">
  <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
  </div>
<!-- Slider main container -->
<div class="swiper">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-hash="slide1">Slide 1</div>
      <div class="swiper-slide" data-hash="slide2">Slide 2</div>
      <div class="swiper-slide" data-hash="slide3">Slide 3</div>
      <div class="swiper-slide" data-hash="slide4">Slide 4</div>
      <div class="swiper-slide" data-hash="slide5">Slide 5</div>
      ...
    </div>
  </div>
</div>
<div class="card-footer">
  <p>footer card</p>
</div>
</div>
</main>

<aside class="aside">
  <table>
  
  <th>
      <td rowspan="4">Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
     
  </th>
  <tbody>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
 
  </tbody>
</table>

</aside>
</section>

<footer>
    <p>MADE WITH LOVE @BOTECHIAERI</p>
</footer>
</body>
</html>