<section class="pageDisplay">

  <aside class="aside">
    <table>
      <thead>
        <tr>
          <td>Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
        </tr>
      </thead>

      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>

      <tfoot>
        <tr>
          <td> 2022</td>
        </tr>
      </tfoot>
    </table>

  </aside>