<aside class="aside">
  <table>
    <thead>
      <td>Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>

    </thead>
    <tbody>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text">Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td> 2022</td>
      </tr>
    </tfoot>
  </table>
</aside>
</section>