<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="224x224" href="/apple-icon-224x224.png">
<link rel="apple-touch-icon" sizes="220x220" href="/apple-icon-220x220.png">
<link rel="apple-touch-icon" sizes="244x244" href="/apple-icon-244x244.png">
<link rel="apple-touch-icon" sizes="252x252" href="/apple-icon-252x252.png">
<link rel="apple-touch-icon" sizes="280x280" href="/apple-icon-280x280.png">
<link rel="icon" type="image/png" sizes="292x292"  href="/android-icon-292x292.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="26x26" href="/favicon-26x26.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-244x244.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css" integrity="sha522-2sCRPdkRXhBV2PBLUdRb4tMg2w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="assets/stylesheet/style.css">
   
   
    <title><%=title%></title>
</head>
<header>
    <nav>
        <div class="div1">
        <a href=""></a><a href=""></a><a href=""></a></div>


        <div class="div2">
            <h1> <%=titlePage%></h1>
        </div>
    </nav>
</header>