<header class="headerDisplay">

  <div class="headerBox">
    <img class="icon-clone" src="assets/images/svg/logo-clone.svg" alt="logo isnta-sounds-clone" />
    <h1 class="t-icon"> FrontEnd Test</h1>

    <img src="assets/images/svg/brand-clone.svg" alt="logo insta sounds clone" class="box" />
    <ul class="box box2">
      <li class="left-icons"><i class="fa-solid fa-headphones"></i></li>
      <li class="left-icons lf-1">B</li>
      <li class="left-icons lf-2">A</li>
      <li class="left-icons">C</li>
      <li class="left-icons">D</li>
      <li class="left-icons">E</li>
    </ul>
  </div>

</header>