*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
}
 
body{
    display: flex;
    flex-flow: column wrap;
    max-width: 100vw;
    width: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #E5E5E5;
    list-style-type: none;
    font-family: 'Inter', sans-serif;

}

img{
    width: 30px;
    height: 30px;
   }


.headerDisplay ,  .headerBox{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 50px;
    background: #E5E5E5;
    justify-content: space-between;
    align-self: center;
}

.box{
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    height: 100%;
    color:black;
    justify-content: center;
    align-self: center;
    gap: 1.2rem;
}


.box-center{
    display: flex;
    flex-flow: row wrap;
    width: 20vw;
    height: 100%;
    color: #E5E5E5;
    align-items: center;
    justify-content: space-between;
}
.icon-clone{
    margin-left: 5%;
    background-color: rgb(172, 172, 172);
    align-self: flex-start;
    border-radius: 15px;
    width : 45px;
    height: 50px;
}




.box1{
    display: inline-flex;
}




.box ul{
    display: flex;
    flex-wrap: row wrap;
    width: 20%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    align-content: center;   font-size: 1rem ;
}

ul > li{
    align-self: center;
}

aside{
    display: flex;
    flex-flow: column wrap;
    width: 18%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.pageDisplay{
    display: flex;
    flex-flow: column wrap;
    width:  60vw;
    height: calc(95vh - 100px);
    margin-top: 0px;
    justify-content: space-between;
align-items: space-between; 
}


.d-none{
    display: none;
    visibility: hidden;
}


.main-display{
    overflow: scroll;
    display: flex;
    flex-flow: column wrap;
    width: 70vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
  
}

.card{
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.swiper-container{
    width: 350px;
    height: 70%;
    background-color: bisque;
}

table{
    background-color: #E5F4FF;;
}
.tr-super-row{
    background-color: #E5F4FF;
    border: 2px solid #E5F4FF;
}


.t-icon{
    font-family: 'Merriweather', serif;

    font-weight: lighter;
    color: lightgray;
}
.td-icon-pre{
    width: 5%;
    text-align: right;
}
.td-icon-pre-1{
    width: 5%;
    text-align: center;
}

.td-text{
    width: 80%;
}

footer{
   padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
 height:5vh;
 width: 100vw;
 justify-content: center;
 align-self: flex-end;

}

.arrow-icon {
    object-fit: contain;
height : 50%;
  }


  .aside>table{
    width: 100%;
  }