<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="224x224" href="/apple-icon-224x224.png">
<link rel="apple-touch-icon" sizes="220x220" href="/apple-icon-220x220.png">
<link rel="apple-touch-icon" sizes="244x244" href="/apple-icon-244x244.png">
<link rel="apple-touch-icon" sizes="252x252" href="/apple-icon-252x252.png">
<link rel="apple-touch-icon" sizes="280x280" href="/apple-icon-280x280.png">
<link rel="icon" type="image/png" sizes="292x292"  href="/android-icon-292x292.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="26x26" href="/favicon-26x26.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-244x244.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css" integrity="sha522-2sCRPdkRXhBV2PBLUdRb4tMg2w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="assets/stylesheet/style.css">
   
   
    <title>Front Ent Test</title>
</head>
<body>
<header class="headerFigma">


<ul class="box1">
    <li class="icon-list"><i class="fa-brands fa-figma"></i></li>
    <li class="icon-list"><i class="fa-solid fa-arrow-up-left"></i></li>
    <li class="icon-list"><i class="fa-solid fa-hand"></i></li>
    <li class="icon-list"><i class="fa-solid fa-comment"></i></li>
</ul>
<ul class=" center-box">
    <h2>Front End Test</h2>
    <button class="bFigma">Ask to edit</button>
</ul>
<ul class="box2">
    <li class="left-icons"><i class="fa-solid fa-headphones"></i></li>
    <li class="left-icons">B</li>
    <li class="left-icons">A</li>
    <li class="left-icons">SHARE</li>
    <li class="left-icons"><i class="fa-solid fa-play"></i></li>
    <li class="left-icons">60%</li>
</ul>
</header>

<main>

 <aside class="aside2">
<ul>
    <li>Page 2
        <ul>
        <li># Desktop-2 
            <li class="aside2Links"><i class="fa-solid fa-vector-square"></i><span class="d-none"><i class="fa-solid fa-caret-right"></i></span><i class="fa-solid fa-caret-right"></i></span> Group 4 </li>
            <li class="aside2Links"><i class="fa-solid fa-vector-square"><span class="d-none"><i class="fa-solid fa-caret-right"></i> Group 2 </li>
            <li class="aside2Links"> <i class="fa-solid fa-text"> </i> Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </li>
            <li class="aside2Links"> <i class="fa-solid fa-text"> </i> Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </li>
            <li class="aside2Links"> <i class="fa-solid fa-text"> </i> Post</li>
            <li class="aside2Links"></li> <i class="fa-solid fa-horizontal-rule"></i>   Rectangle 4</li>
            <li class="aside2Links"></li> <i class="fa-solid fa-image"></i>
            <dl>
                <dt> Ellipse </dt>            <dd>
                    <p class="d-none" Lucas Credie dolor sit amet, consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et tristique proin. Mi enim ut eu cras ultrices eget et tristique proin.
                    Comment consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et  consectetur adipiscing elit. Mi enim ut eu cras ultrices eget et </p></p> </dd></dl></li><
            <li class="aside2Links"></li><span class="d-none"><i class="fa-solid fa-caret-right"></span></i> <i class="fa-solid fa-square-dashed">Header</i>
            <li class="aside2Links"><i class="fa-solid fa-rectangle-vertical"></i> Rectangle</li>
            </ul>
        </li>
    </ul>
</aside>
  
    <section class="section-center">
        <div class="canvas">
            <div class="swiper">
                <span slot="container-start">Container Start</span>
                <div class="swiper-wrapper">
                  <span slot="wrapper-start">Wrapper Start</span>
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <span slot="wrapper-end">Wrapper End</span>
                </div>
                <span slot="container-end">Container End</span>
              </div>
        </div>
    </section>
    <aside class="aside2"></aside>


<main>



</main>
    
</body>
</html>