<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Botechia eri">
<meta name="description" content="Clone for frontEnd Test application FrontEnd Test">
<link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
<link rel="manifest" href="/assets/manifest.json">
<meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
<meta name="msapplication-TileImage" content="assets/ms-icon-244x244.png">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/stylesheet/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>CLONE CARD - FrontEnt Test</title>
<link rel="stylesheet" href="assets/stylesheet/style.css">
</head>
<body>
<header class="headerDisplay">

<div class="headerBox">
<img class="icon-clone" src="assets/images/svg/logo-clone.svg" alt="logo isnta-sounds-clone"/>
<h1 class="t-icon"> FrontEnd Test</h1>

<img src="assets/images/svg/brand-clone.svg" alt="logo insta sounds clone" class="box" />
<ul class="box box2">
<li class="left-icons"><i class="fa-solid fa-headphones"></i></li>
<li class="left-icons lf-1">B</li>
<li class="left-icons lf-2">A</li>
<li class="left-icons">C</li>
<li class="left-icons">D</li>
<li class="left-icons">E</li>
</ul>
</div>

</header>

<section class="pageDisplay">

  <aside class="aside">
    <table>
    <thead>
      <tr>
        <td>Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
       </tr>
    </thead>
 
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
      <tr class="tr-super-row">
        <td class="td-icon-pre-1">#</td>
        <td class="td-text" >Desktop-2</td>
        <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
      </tr>
 
    <tfoot>
      <tr>
        <td> 2022</td>
      </tr>
    </tfoot>
  </table>
  
  </aside>



<main class="main-display">

<div class="card">
<div class="card-header">
  <div class="user-card">
    <img class="img-user" src="assets/images/avatar/avatar00.svg">
    <h2>username </h2>
  </div>
  <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
  </div>

<div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img src="" />
        </div>
      </div>
      <div class="swiper-slide">Plain slide with text</div>
      <div class="swiper-slide">
  
        <div class="swiper-zoom-container" data-swiper-zoom="5">
          <img src="" />
        </div>
      </div>
    </div>
</div>
</div>
<div class="input-form">
  <form method="post" action="/">
  <input type="text" id="userFB" class="input-control">
  <textarea row="4" col="3" type="text" id="userFB" class="input-control"></textarea>
  </form>
</div>
<div class="card-footer">
  <p>footer card</p>
</div>
</div>
</div>
<div class="card">
  <div class="card-header">
    <div class="user-card">
      <img class="img-user" src="assets/images/avatar/avatar00.svg">
        <h2 class="usernameCard">username </h2>
    </div>
    <p class="location">.</p>
    </div>
  
  <div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">Plain slide with text</div>
        <div class="swiper-slide">
    
          <div class="swiper-zoom-container" data-swiper-zoom="5">
            <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/tiTwAslVXUSJO" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/rainbow-art-animation-tiTwAslVXUSJO">via GIPHY</a></p>
            

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-form">
    <form method="post" action="/">
    <input type="text" id="userFB" class="input-control">
    <textarea class="input-control"></textarea>
    </form>
  </div>
  <div class="card-footer">
    <p>footer card</p>
  </div>
  </div>
</main>

<aside class="aside">
  <table>
  <thead>
      <td >Layers <span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
     
  </thead>
  <tbody>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
    <tr class="tr-super-row">
      <td class="td-icon-pre-1">#</td>
      <td class="td-text" >Desktop-2</td>
      <td class="td-icon-post"><span class="d-none"><i class="fa-solid fa-caret-right"></i></span></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td> 2022</td>
    </tr>
  </tfoot>
</table>
</aside>
</section>

<footer>
    <p>MADE WITH LOVE  LOVE by BOTECHIAEri</p>
</footer>
<script src="assets/js/script.js"></script>
</body>
</html>